.changePassword {
  background-color: rgba(128, 128, 128, 0.158);
  width: 30%;
  height: 70vh;
  margin: 4vw 0 0 33vw;
  h1 {
    text-align: center;
    padding: 5vh 0 0 0;
  }
  form {
    input {
      margin: 3vh 0 0 6vw;
      width: 18vw;
      border-radius: 5px;
    }
    .change {
      margin: 4vh 0 5vh 8vw;
    }
    .cancel {
      margin: 5vh 0 5vh 2vw;
    }
    .error{
      margin: 0 0 0 6vw;
      color: #ff0000;
    }
  }
}

@media (min-width: 300px) and (max-width: 900px) {
  .changePassword {
    background-color: rgba(128, 128, 128, 0.158);
    width: 80%;
    height: 80vh;
    margin: 6vh 10vw 0 10vw;
    h1 {
      text-align: center;
      padding: 10vh 0 0 0;
    }
    form {
      input {
        margin: 3vh 0 0 10vw;
        width: 60vw;
        height: 5vh;
        border-radius: 5px;
      }
      .change {
        margin: 4vh 0 5vh 17vw;
      }
      .cancel {
        margin: 4vh 0 5vh 5vw;
      }
      .error{
        margin: 0 0 0 6vw;
        color: #ff0000;
      }
    }
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  .changePassword {
    background-color: rgba(128, 128, 128, 0.158);
    width: 80%;
    height: 80vh;
    margin: 6vh 10vw 0 10vw;
    h1 {
      text-align: center;
      padding: 10vh 0 0 0;
    }
    form {
      input {
        margin: 3vh 0 0 10vw;
        width: 60vw;
        height: 5vh;
        border-radius: 5px;
      }
      .change {
        margin: 4vh 0 5vh 22vw;
      }
      .cancel {
        margin: 4vh 0 5vh 7vw;
      }
      .error{
        margin: 0 0 0 6vw;
        color: #ff0000;
      }
    }
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .changePassword {
    background-color: rgba(128, 128, 128, 0.158);
    width: 80%;
    height: 80vh;
    margin: 6vh 10vw 0 10vw;
    h1 {
      text-align: center;
      padding: 10vh 0 0 0;
    }
    form {
      input {
        margin: 3vh 0 0 10vw;
        width: 60vw;
        height: 5vh;
        border-radius: 5px;
      }
      .change {
        margin: 4vh 0 5vh 17vw;
      }
      .cancel {
        margin: 4vh 0 5vh 5vw;
      }
      .error{
        margin: 0 0 0 6vw;
        color: #ff0000;
      }
    }
  }
}
