h1 {
  text-align: center;
}
.team {
  display: flex;
  .teamImg {
    margin-left: 15vw;
    img {
      width: 30vw;
      height: 45vh;
      margin: 0 3vw 0 0;
      border-radius: 30%;
    }
    .name {
      margin:  0 9vw 0 6vw;
    }
    .profile {
      margin: 0 0 0 9vw;
    }
  }
  h4 {
    text-align: center;
  }
  .teamwork{
    font-size: 1.5rem;
    text-align: justify;
    width: 35vw;
  }
}
