.login{
    display: flex;
    width: 50%;
    height: 80vh;
    margin: 4vw 0 0 25vw;
    .left{
        width: 40%;
        background-color: #1974BB;
        h2{
            text-align: center;
            color: #fff;
            margin: 15vh 0 0 0;
        }
        p{
            font-style: italic;
            width: 80%;
            padding: 5vh 0 0 3vw;
            color: #fff;
        }
    }
    .right{
        width: 60%;
        background-color: grey;
        h2{
            text-align: center;
            margin: 20vh 0 0 0;
        }
        form{
            padding: 5vh 0 0 10vh;
            input{
                margin: 3vh 0 0 0;
                border-radius: 5px;
                width: 80%;
            }
            button{
                margin: 2vh 0 0 7vw;
                border-radius: 0.5rem;
                background-color: #1974BB;
                color: #fff;
            }
        }
        .bottomLines{
            a{
                color: #fff;
                text-decoration: none;
                &:hover{
                    color: red;
                }
            }
            p{
                margin: 3vh 0 0 3vw;
            }
            .forgot{
                margin: 0 0 0 10vw;
            }
        }
    }
}